a.play-button{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #00D68F;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family: Heebo, sans-serif;
 font-weight:700;
 color:#00D68F;
 text-align:center;
 transition: all 0.2s;
}
a.play-button:hover{
 color:#000000;
 background-color:#00D68F;
}
@media all and (max-width:30em){
 a.play-button{
  display:block;
  margin:0.4em auto;
 }
}

.bouncy{
 animation:bouncy 5s infinite linear;
 position:relative;
}
@keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
}
